.change-password-form{

    padding: 20px 15px;

    >h4{
        color: $primary1;
        font-size: 22px;
    }

    >form{
        text-align: center;

        .submit{
            padding: 13px 60px;
        }
    }


}